tempCodeRunnerFile.py
__pycache__/
tempCodeRunnerFile.py

# File media & output (bukan kode)
*.jpg
*.png
*.txt
*.jpeg

# Virtual environment
env/
venv/
__pycache__/
*.pyc

# Model files besar (kalau ada)
*.task